/*
# Aerolab Coding Challenge 2

We built a small React app containing a reference design in SVG and some HTML. Everything works except for the CSS, which we seem to have lost.
Your challenge is to edit **./src/User.scss** to make both designs match as closely as you can, using all the tools in your CSS arsenal. We'll be evaluating both the design and code quality.
We've provided a compare button to compare your implementation with the design. There's also a progress bar in the *Join Us* button, which runs a visual comparison to the original design every few seconds and tells you how far you are from a perfect implementation. Good luck!

    <div class="user-grid">
      <div class="user">
        <div class="avatar fav">
          <img src="01.png" alt="">
        </div>
        <h3 class="name">Ale</h3>
        <div class="event featured">
          <h4 class="label">¡Se acerca aniversario!</h4>
          <button class="assist">
            <img class="icon" src="cal-grey.svg" alt="">
            <span>17 - 09</span>
          </button>
        </div>
      </div>

      ...

    </div>

    Fav Icon: https://cdn.aerolab.co/coding-challenge/02/star.svg

 */

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700');

.user-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 9px;
}

.user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 199px;
  margin: 9px;
  border-radius: 9px;
  background: #ffffff;
  border: 1px solid rgba(214,213,213,0.50);

  .avatar {
    display: block;
    margin-top: 16px;
    width: 80px;
    height: 80px;
    img {
    height: 78px;
    width: 78px;
    border-radius: 100px;
    border: 1px solid rgba(214,213,213,0.50);
    }
  }

  .name {
    margin: 0;
    margin-top: 12px;
    font-family:'Heebo';
    font-weight: 400;
    font-size:18px;
    color:#000000;
    letter-spacing:-0.24px;
    text-align:center;
  }

  .event {
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
      font-family:'Heebo';
      font-weight: 400;
      font-size:9px;
      text-transform: uppercase;
      color:#d6d5d5;
      letter-spacing:-0.24px;
      text-align:center;
      margin: 0;
    }


    .assist {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 7px;
        margin-left: -4px;
        width: 12px;
        height: 12px;
      }

      margin-top: 9px;
      background-color: #fff;
      border:1px solid #d6d5d5;
      border-radius:100px;
      width:95px;
      height:26px;
      font-family:'Heebo';
      font-weight: 700;
      letter-spacing: 0.1px;
      font-size:12px;
      color: #d6d5d5;

    }

  }

  .fav:before {

    content: "";
    position: absolute;
    top: 78px;
    left: 100px;
    height: 18px;
    width: 18px;
    background: url(https://cdn.aerolab.co/coding-challenge/02/star.svg);
    background-size: 100% 100%;
  }

  .featured {

    .label {
      color:#ff5c47;
    }
    .assist {
      background:#ff5c47;
      color: #fff;
      border: 0;
    }
  }

}
